@import "../../styles/Constants.scss";

.footer {
  background: $dark;
  background: -webkit-linear-gradient(71deg, $dark, $dark-right 100%);
  background: linear-gradient(71deg, $dark, $dark-right 100%);
  padding: 2rem 0;

  .top {
    padding-bottom: 2rem;

    @media screen and (max-width: $md) {
      padding-bottom: 1rem;
    }

    .info {
      display: flex;
      align-items: center;

      @media (max-width: 1199px) {
        margin-bottom: 1rem;
      }

      @media screen and (max-width: $md) {
        margin: auto;
        width: fit-content;
        margin-bottom: 1rem;
      }

      span {
        margin-left: 1rem;
        font-size: 14px;
        color: $white;
        font-weight: 400;
        text-transform: none;

        b {
          font-weight: 600;
        }

        @media screen and (max-width: $sm) {
          font-size: 12px;
        }
      }
    }
  }

  .pageLinks {
    border: 1px #5a5c74 solid;
    border-left: none;
    border-right: none;
    padding: 2rem 0;

    h5 {
      font-size: 13px;
      color: $primary-color;
      // font-weight: 700;
      // font-stretch: normal;
      // font-style: normal;
      // line-height: normal;
      letter-spacing: 1.09px;
    }

    .addressTag {
      span {
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        color: $para-color;
        &:nth-child(2) {
          word-break: break-all;
          display: inline-table;
        }
        &:nth-child(5) {
          display: block;
        }
      }
    }

    @media screen and (min-width: 767px) and (max-width: 1200px) {
      .addressTag {
      span {
        &:nth-child(1) {
          display: block;
        }
        &:nth-child(4) {
          display: block;
        }
      }
    }
    }

    @media screen and (max-width: 767px) {
      .addressTag {
      span {
        &:nth-child(1) {
          display: flex;
          width: fit-content;
          float: left;
      }
      
        &:nth-child(2) {
          display: block;
        }
        &:nth-child(3) {
          display: block;
          width: fit-content;
          float: left;
      }
      }
    }
    }

    .navLink {
      display: block;
      width: fit-content;
      padding: 0.5rem 0rem;
      font-size: 14px;
      color: $para-color;
      text-decoration: none;
      // transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      //   border-color 0.15s ease-in-out;

      &:hover {
        color: $white;
      }
    }

    .blog {
      @media screen and (max-width: 767px) {
        margin-top: 0.75rem;
      }
    }
  }

  .bottom {
    padding-top: 2rem;

    .logo {
      img {
        width: 200px;
        margin-bottom: 0.5rem;
      }

      @media screen and (max-width: 575px) {
        text-align: center;
      }

      @media screen and (min-width: 575px) and (max-width: 575.5px) {
        margin-bottom: -4.7rem;
      }
    }

    .socialIcons {
      margin-left: auto;
      width: fit-content;

      .navLink {
        padding: 0.5rem 10px;
      }

      @media screen and (max-width: 575px) {
        margin: auto;
        margin-top: 1rem;
      }

      .icon {
        &:hover {
          fill: #39afa0;
        }
      }
    }

    .secureLink {
      margin-top: 1rem;
      margin-left: auto;
      width: fit-content;

      @media screen and (max-width: 575px) {
        margin: auto;
        margin-top: 1rem;
      }

      @media screen and (max-width: $md) {
        margin-left: auto;
      }

      .copy {
        &:hover {
          color: $para-color !important;
          cursor: context-menu;
        }
      }

      .navLink {
        display: block;
        padding: 0rem 0rem;
        padding-right: 10px;
        font-size: 14px;
        color: $para-color;
        margin-right: 0.5rem;
        // border-right: 1px $para-color solid ;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out;

        &:hover {
          color: $white;
        }

        @media screen and (max-width: $sm) {
          font-size: 11px;
          padding-right: 8px;
        }
      }
    }
  }
}
